@import url('font_neonderthaw.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Neonderthaw&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('remixicon.css');
@import url('grid.css');
@import url('animate.min.css');
body{
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    background: url('../images/backgroundimage.png') no-repeat 126px top,
                url('../images/background.gif') repeat-x left top;
                
    color: #000;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #555;
}
.serif{
    font-family: "Noto Serif KR", serif;
}
.neonderthaw{
    font-family: "Neonderthaw", serif;
}
.container{
    width: 1340px;
}
.bg-f5{
    background-color: f5f5f5;
}
header{
    padding: 35px 30px 0;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
justify-between{
    justify-content: space-between;
}

/**************header*****************/
              /*nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
nav .snsbox a{
    margin-right: 8px;
    font-size: 20px;
}
.searchbox a{
    font-size: 20px;
}
nav a{
    color: #757575;
}
nav a:hover{
    color: #000;
}
nav a.act{
    color: #000;
}
ul.main{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-transform: uppercase;
    width: 520px;
    justify-content: space-between;
}
ul.main>li{
    position: relative;
}
ul.sub{
    list-style: none;
}
             /*logo*/
.logo{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow: hidden;
}
.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***************hero section***************/
.hero{
    margin-top: 120px;
    overflow: hidden;
}
.hero h1{
    font-size: 64px;
    font-weight: 200;
    margin: 0;
}
.hero p{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
}
.col-30{
    flex: 0 0 34%;
    min-width: 34%;
}
.col-20{
    flex: 0 0 16%;
    max-width: 16%;
}
.h-img{
    margin-bottom: -4px;
}
.h-img img{
    width: 100%;
}
.hero-box{
    position: relative;
    display: flex;
    justify-content: center;
    background: url('../images/backgroundimage2.png') no-repeat left;
    margin-left: 100px;
}
.hero-box>div{
    margin-left: 150px;
}
.hero-box img{
    width: 100%;
}
.hero-card{
    position: relative;
    padding: 85px 75px;
    background: #fff;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    top: -440px;
}
.hero-card h2{
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.hero-card p{
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
.signbox{
    padding-top: 50px;
    text-align: right;
}
.signbox img{
    width: 120px;
}

/*************video section*************/
.video{
    background: url('../images/background3.gif')repeat-x;
    padding: 0 0 150px;
    overflow: hidden;
}
.partner{
    margin: 0 auto 50px;
    width: 1000px;
}
.partner>a{
    display: block;
    width: 25%;
    height: 105px;
    background: #fff;
    position: relative;
}
.partner img{
    position: absolute;
    top: 0;
    left: 0;
}
.partner>a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.7);
    transition: all 300ms;
}
.partner>a:hover img{
    filter: opacity(1);
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
    z-index: 2;
}
p.partner-title{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin-block-start: 25px;
}
h1.partner-title{
    font-size: 50px;
    font-weight: 300;
    margin-block-start: 10px;
}
.subscribe{
    display: block;
    width: 230px;
    height: 50px;
    background: #ff0000;
    margin: 60px auto;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}
.subscribe i{
    font-size: 30px;
    margin-right: 10px;
}
.vod{
    margin-left: -3px;
    margin-right: -3px;
    background-color: #d0e7ff;
    min-height: 550px;
}
.vod-box{
    position: relative;
    width: 33.3333333%;
    padding: 0 3px 50px;
    height: 350px;
}
.myvideo{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
}
/*버튼 만들기
 .myvideo-btn{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}
.myvideo-btn::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 30px solid rgba(255, 255, 255, 0.6);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    transition: all 300ms;
}
.myvideo-btn:hover{
    border-color: #fff;
}
.myvideo-btn:hover::after{
    border-left-color: #fff;
} */
 .vod-box p{
    position: relative;
    top: 380px;
    font-weight: 600;
    font-size: 20px;
    width: 300px;
    left: calc(50% - 150px);
 }

 /***********best ageent section**********/
.best{
    margin-top: 90px;
}
.best h1{
    font-size: 40px;
    font-weight: 400;
}
a.viewall{
    font-size: 20px;
    color: #6f5fc9;
    text-decoration: underline;
    font-weight: 200;
}
.best .container{
    margin-top: 80px;
}
.best .col{
    width: 50%;
    height: 427px;
    position: relative;
}
.best .col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.best-link{
    color: #000;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    background: rgba(255,255,255,.8);
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    width: 200px;
    height: 45px;
    bottom: 50px;
    left: calc(50% - 100px);
    transition: all 300ms;
}
.best-link:hover{
    background-color: rgba(255, 255, 255, 1);
}
/*****************section mailing*****************/
.mailing-form-box{
    background-color: #d0e7ff;
    padding-top: 55px;
}
.mailing-form-box p{
    width: 270px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.mailing-form-box form{
    margin: 45px auto 0;
    width: 430px;
    padding-bottom: 50px;
}
.mailing-form-box input{
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #d9d9d9;
}
.mailing-form-box input::placeholder{
    color: #d9d9d9;
}
/**********workme section************/
.workme{
    padding-top: 100px;
}
/*반응형 정사각형 만드는 법*/
.square{
    width: 100%; /*가로 너비 100%*/
    padding-top: 100%; /*세로 크기는 가로 크기의 100%*/
    position: relative;
}
.square-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.square-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.me-sign{
    position: absolute;
    top: -90px;
    right: 550px;
    width: 300px;
}
.bg-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/backgroundimage2.png) no-repeat center;
    background-size: 70%;
}
.bg-map h3, .bg-map p{
    width: 230px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;;
    border-bottom: 1px solid #6f5fc9;
    margin: 0;
}
.bg-map h3{
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 5px;
}
.bg-map h3:first-child{
    padding-top: 30px;
}
.bg-map p{
    font-weight: 300;
}
.bg-map h3.current{
    margin-top: 60px;
}
.bg-map>p:first-of-type{
    border: none;
}
.next{
    margin-top: 75px;
}
.next p{
    padding-bottom: 5px;
    padding-top: 5px;
}
.hr{
    margin-top: 120px;
    margin-bottom: 90px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}
/************instagram*************/
.instagram p{
    text-align: center;
    font-size: 20px;
}
.instagram p:first-child{
    font-size: 28px;
}
.instagram a{
    font-weight: 200;
    color: #6f5fc9;
    text-decoration: underline;
}
/*************footer*************/
footer{
    background: url(/images/background3.gif) repeat-x;
    margin-top: 30px;
    padding: 30px 0 150px;
    overflow: hidden;
}
.imgbox{
    margin: 0 auto 50px;
    width: 1000px;
}
.imgbox>a{
    display: block;
    width: 20%;
    height: 120px;
    background: #fff;
    position: relative;
}
.imgbox img{
    position: absolute;
    top: 0;
    left: 0;
}
.imgbox>a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.7);
    transition: all 300ms;
}
.imgbox>a:hover img{
    filter: opacity(1);
    width: 105%;
    height: 105%;
    top: -2.5%;
    left: -2.5%;
    z-index: 2;
}
footer .snsbox p{
    text-align: center;
}
footer .snsbox a{
    margin-right: 8px;
    font-size: 28px;
}
.footer-menu p{
    text-align: center;
}
.footer-menu a{
    margin-right: 30px;
    color: #757575;
    font-size: 18px;
}
.footer-menu a:hover{
    color: #000;
}
footer>p{
    margin-top: 50px;
    text-align: center;
}